body{
    background-color:rgb(211, 232, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}
.full {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        font-size:large;
        height: 550px;
}
.submit-button{
    background-color: #0066d3;
    padding: 10px 20px;
    color: #fff;
    width: 98%;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
}
